:root {
  --dark-color: indigo;
  --light-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-color);

  font-weight: normal;
}

header {
  background: darkslateblue;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: var(--light-color);
  font-weight: 100;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--light-color);
  margin-top: 0;
}

.card {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2rem;

  color: var(--dark-color);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total {
  background: darkorchid;
  color: var(--light-color);
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: blueviolet;
}

table th {
  background: var(--light-color);

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background: var(--light-color);
  padding: 1rem 2rem;
}

table td {
  background: var(--light-color);
  padding: 1rem 2rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 00.25rem 0 0 0.25rem;
}

td.description {
  color: var(--dark-color);
}

td.income {
  color: limegreen;
}

td.expense {
  color: crimson;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-color);

  opacity: 0.6;
}
